body, html{
    height: 100%;

}
.container{
    border: 3px solid rgb(0, 12, 12);
    height: 100%;
    background-color:aqua;
    padding: 5px;
    text-align:center;
    font-size: 2em;
    color: rgb(24, 14, 33);
    display: flex;
    flex-wrap: wrap;
    text-wrap: nowrap;

   
}



.home{
    width: 10%;
background-color:rgb(232, 123, 22);

}
.search{
    width: 10%;
background-color: rgb(120, 114, 203);

}
.logout{
    width: 10%;
background-color: rgb(22, 149, 0);

}